{% extends 'core/main.html' %}
{% load static %}

{% block content %}
<style>
    .profile-container {
        margin-top: 6rem;
        max-width: 800px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        color: #333;
    }

    .user-details {
        align-items: center;
        margin-top: 20px;
    }

    .img img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .details {
        flex-grow: 1;
    }

    p {
        margin: 10px 0;
    }

    span {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin: 10px 0;
    }

    ul ul li {
        margin: 5px 0;
        font-style: italic;
        color: #555;
    }

    /* Style for the logout link */
    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: #0056b3;
    }
</style>

<div class="profile-container">
    <h2>User Profile</h2>
    <div class="user-details">

        {% if user.is_authenticated %}

        <a href="{% url 'logout' %}">Logout</a>
        {% if user.customer.userImage %}
        <div class="img">
            <img src="{{ user.customer.userImage.url }}" alt="{{ user.customer.name }}'s profile image">
        </div>
        {% endif %}
        <div class="details">
            <p>Username:<span> {{username}}</span></p>
            <p>Name: <span id="name">{{user.customer.name}}</span></p>
            <p>Email: <span id="email">{{user.customer.email}}</span></p>

            {% if shipping_address %}
            <h3>Shipping Address</h3>
            <p>Address: {{ shipping_address.address }}</p>
            <p>City: {{ shipping_address.city }}</p>
            <p>State: {{ shipping_address.state }}</p>
            <p>Zipcode: {{ shipping_address.zipcode }}</p>
        </div>
        {% else %}
        <p>No shipping address found for this user.</p>
        {% endif %}
    </div>
    {% else %}
    <p>User is not logged in.</p>
    {% endif %}

    {% if order_items %}
    <h3>Order History</h3>
    <ul>
        {% for order, order_item_objects in order_items %}
        <li>Order ID: {{ order.id }} - Date: {{ order.date_orderd }} - Complete: {{ order.complete }}</li>
        <ul>
            {% for order_item in order_item_objects %}
            <li>Product: {{ order_item.product.name }} - Quantity: {{ order_item.quantity }} - Date Added:
                {{order_item.date_added }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% else %}
    <p>No orders found for this user.</p>
    {% endif %}
</div>





{% endblock %}